
# General settings
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=Y=o-4oDiC$!ysNd4WB^Z_t_b{3A8t%7(tP.g&(9MSOUU$t+$9R
DJANGO_ALLOWED_HOSTS=.example.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
